body {
    background-color:#2b3035;
    color: white;
}
header nav img {
    width: 70px;
}
header nav {
    font-size: small;
}
.IconaNetflix {
    width: 30px;
    height: 30px;
}
.profilo  {
    margin: 5px;
    color: rgb(255, 255, 255);
}
#icona {
    width: 20px;
    margin: 10px;
}
.barra {
    margin: 5px;
}
.show {
    justify-content: space-between;
    margin: 20px;
}
h2 {
    margin-right: 20px;
}

.generi .btn {
    background-color: black;
    border-radius: 0px;
    border: 40%;
    font-size: small;
}
.carousel img {
    width: 200px;
    height: 100px;
}
.carousel {
    margin: 20px;
}
.social {
    margin-top: 60px;
    margin-left: 300px;
    margin-bottom: 20px;
}
.liste  {
    justify-content: space-between;
    font-size: smaller;
    margin-left: 310px;
    margin-right: 200px;
    margin-bottom: 20px;
}
.liste a {
    color:#5a5e63b5;
    text-decoration: none;
}
.inci {
    margin-left: 310px;
    font-size: smaller;
    color:#5a5e63b5;
}
footer .btn {
    margin-left: 310px;
    margin-bottom: 20px;
    font-size: smaller;
    border-radius: 0px;
}
.bottoni button {
   background-color: transparent;
   padding: 0;
   width: 60px;
   height: 40px;
}
.carousel .dettaglio {
    font-size: smaller; 
    color: #717376a7;
    height: 0;
    opacity: 0;
    transition: opacity 0.8s linear;
    text-align: center;
    font-size: smaller;
 }
 .carousel .dettaglio h6 {
    margin-top: 10px;
    color: rgba(239, 163, 163, 0.66);
 }

.carousel-item > .row > div {
    transition: transform 0.8s; 
 }

 .carousel-item > .row > div:hover {
    transform: scale(1.5);
    cursor: pointer;
    z-index: 100;
 }

.carousel-inner {
    overflow: visible;
 }

.carousel-item > .row > div:hover .dettaglio{
    opacity: 1;
    background-color: #2b3035;
    height: auto;
    position: absolute;
    
 }




